body{
    margin: 0 auto;
    background-color: black;
    
}
    
.poster{
    border:  solid 0.1rem white;
    border-radius: 50px;
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.75);
    display: inline-flex;
    z-index: 1;
    background-color: black;
    width: 70%;
    /* margin: 0 auto; */
    margin-left: 15%;
    margin-top: 10%;
    height: 30rem;
    font-family: "Libre Baskerville", serif;

    
}
.image{
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0);
    height: 75%;
    width: 50%;
    padding: 0%;
    margin-left: 0%;
    margin-right: 100%;

}
.steve{
    z-index: 3;
    height: 75%;
    width: 75%;
    position:absolute;
    margin: 0 auto;
    margin-bottom:100%;
    
    
}
h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: auto;
    margin-left: 50%;
    margin-top: 5%;
    color: white;

}
p{
    color: white;
    font-size: 1.1rem;
    position: absolute;
    margin: auto;
    margin-left: 40%;
    margin-top: 12%;
    text-align: center;

}
p span{
    color: red;
}
